.container {
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
}

.title {
    color: #fff;
    font-family: "Anton", sans-serif;
    font-size: 64px;
}

.record {
    color: #fff;
    font-family: "Anton", sans-serif;
    font-size: 30px;
}
