.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 12px;
    width: 800px;
    height: 300px;
    border-radius: 12px;
    background: #fff;
}
