.friend_container {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    height: 5vh;
    background: rgba(0, 0, 0, 0);

    position: relative;
    top: 15%;
    left: 50%;

    list-style-type: none;

    /* transform: rotate(90deg); */
}

.friend_container:focus {
    outline: none;
}

.friend_font {
    color: rgba(37, 90, 218, 0.6);
	text-align: center;
    font-family: 'Noto Sans', sans-serif;
	font-size: 2vh;
	font-style: normal;
	font-weight: 700;
	line-height: 1;

    position: relative;
    right: 15%;
}

.avatar_container {
    content: '';
    position: absolute;
    bottom: 0;
    right: 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
}

.avatar {
    position: relative;
    display: inline-block;

    height: 3.5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    cursor: pointer;
}

.avatar_online {
    position: relative;
    display: inline-block;

    height: 3.5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar_online:after {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: lime;
}

.avatar_offline {
    position: relative;
    display: inline-block;

    height: 3.5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar_offline:after {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: rgb(203 213 225);
}

.avatar_playing {
    position: relative;
    display: inline-block;

    height: 3.5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar_playing:after {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: rgb(147 51 234);
}

.h_5 {
    height: 5vh;
    aspect-ratio: 1 / 1;
}

.rounded-full {
    border-radius: 50%;
}

.op_crown {
    position: absolute;
    left: 0vw;
    top: -0.2vh;
    width: 20px;
    height: 18px;
    padding-left: 5%;
    z-index: 2;
}


/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------------------- tooltip ---------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.tooltip {
    position: relative;
    display: inline-block;
    --tooltip-offset: calc(100% + 1px + var(--tooltip-tail, 0px));
}
.tooltip:before {
    position: absolute;
    pointer-events: none;
    z-index: 3;
    content: var(--tw-content);
    --tw-content: attr(data-tip);
}
.tooltip:before, .tooltip-top:before {
    transform: translateX(-50%);
    top: 5%;
    left: 50%;
    right: auto;
    height: 1.7rem;
    bottom: var(--tooltip-offset);
}
.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    --tooltip-tail: 0.1875rem/* 3px */;
    --tooltip-color: hsl(var(--n));
    --tooltip-text-color: hsl(var(--nc));
    --tooltip-tail-offset: calc(100% + 0.0625rem/* 1px */ - var(--tooltip-tail));
}
.tooltip:before,
.tooltip:after {
    opacity: 0;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-delay: 100ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tooltip:before,
.tooltip:after {
    opacity: 0;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-delay: 100ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tooltip:after {
    position: absolute;
    position: absolute;
    content: "";
    border-style: solid;
    border-width: var(--tooltip-tail, 0);
    width: 0;
    height: 0;
    display: block;
}
.tooltip:before {
    max-width: 20rem/* 320px */;
    border-radius: 0.25rem/* 4px */;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    width: max-content;
}
.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
    opacity: 1;
    transition-delay: 75ms;
}
/* .tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
    opacity: 1;
    transition-delay: 75ms;
}
.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
    opacity: 1;
    transition-delay: 75ms;
}
.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
    opacity: 1;
    transition-delay: 75ms;
} */
.tooltip:has(:focus-visible):after,
.tooltip:has(:focus-visible):before {
    opacity: 1;
    transition-delay: 75ms;
}
/* .tooltip:has(:focus-visible):after,
.tooltip:has(:focus-visible):before {
    opacity: 1;
    transition-delay: 75ms;
} */
.tooltip:not([data-tip]):hover:before,
.tooltip:not([data-tip]):hover:after {
    visibility: hidden;
    opacity: 0;
}
/* .tooltip:not([data-tip]):hover:before,
.tooltip:not([data-tip]):hover:after {
    visibility: hidden;
    opacity: 0;
} */
.tooltip:after, .tooltip-top:after {
    transform: translateX(-50%);
    border-color: var(--tooltip-color) transparent transparent transparent;
    top: 5%;
    left: 50%;
    right: auto;
    z-index: 3;
    bottom: var(--tooltip-tail-offset);
}
