.container {
    width: 800px;
    height: 700px;
    border: 5px solid #FFF;
	background: rgba(255, 255, 255, 0);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 60px;
    font-style: normal;
	font-family: 'Anton', sans-serif;
	line-height: normal;
	font-weight: 400;
    color: #fff;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-family: "Noto sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-style: normal;
    border: 3px solid #fff;
    width: 320px;
    height: 64px;
}

.button:hover {
    background-color: #fff;
    color: #285ada;
    transition: 0.3s;
}

.readyBar {
    width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 40px;
    font-style: normal;
	font-family: 'Anton', sans-serif;
	line-height: normal;
	font-weight: 400;
    color: #fff;
}

.ready {
    color: #fff;
}
.unready {
    color: rgba(255, 255, 255, 0);;
}
