.rankbackground {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 3.85%;
  padding-bottom: 2.31%;
  position: absolute;
  top: 6.14%;
  width: 100%;
  height: 91.23%;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
}

.ranktitle {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 2.2222vh;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.rankcontainer {
  position: absolute;
  top: 17.5%;
  left: 42%;
  width: 35.4167vw;
  height: 76.9444vh;
}
