.Historybackground {
    position: absolute;
    top: 6.14%;
    width: 100%;
    height: 91.23%;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
}

.Historytable {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    position: absolute;
    top: 3.85%;
    height: 100%;
    width: 100%;
	left: 4.93%;
}

.Historytitle {
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.2222vh;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.Historycontainer {
    position: absolute;
    top: 17.50%;
	left: 42%;
    width: 35.4167vw;
    height: 76.9444vh;
}
