.friend_container {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    height: 5.1vh;
    background: rgba(0, 0, 0, 0);
    margin : 10px 0;
}

.friend_container:focus {
    outline: none;
}

.friend_font {
    color: rgba(37, 90, 218, 0.6);
	text-align: center;
    font-family: 'Noto Sans', sans-serif;
	font-size: 2vh;
	font-style: normal;
	font-weight: 700;
	line-height: 1;

    position: relative;
    right: 15%;
}

.avatar_container {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    /* right: 1px; */
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
}

.avatar {
    position: relative;
    display: inline-block;

    height: 5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar_online {
    position: relative;
    display: inline-block;

    height: 5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar_online:after {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: lime;
}

.avatar_offline {
    position: relative;
    display: inline-block;

    height: 5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar_offline:after {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: rgb(203 213 225);
}

.avatar_playing {
    position: relative;
    display: inline-block;

    height: 5vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar_playing:after {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: rgb(147 51 234);
}

.h_5 {
    height: 5vh;
    aspect-ratio: 1 / 1;
}

.rounded-full {
    border-radius: 50%;
}
