.background {
    display: flex;
    flex-direction: column;
    padding-top: 3.85%;
    padding-bottom: 2.31%;
    position: absolute;
    top: 6.14%;
    width: 100%;
    height: 91.23%;
    border-radius: 12px;
    background: #fff;
  }
  
