.container {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
	font-size: 2.5rem;
	font-style: normal;
	font-family: 'Noto Sans', sans-serif;
	line-height: normal;
	font-weight: 700;
}

.win {
	margin-right: 18%;
	color: #285ADA;
}

.lose {
	margin-right: 16%;
	color: #FF9416;
}

.matchtext {
	margin-right: 6%;
	color: #7B7B7B;
	font-size: 2rem;
	font-weight: 400;
}

.name {
	color: #353535;
	font-size: 2rem;
}