.Allcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 12.96%;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #285ada;
}

.buttonone {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8519vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  left: 22.4%;
  top: 66.3%;
  width: 17.71%;
  height: 4.44%;
}
