.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input {
    width: 700px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #285ADA;
    background: #FFF;

    padding-left: 3px;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    padding: 0;
    border: none;
    background: none;
}

.button:focus {
    outline: none;
}
