.container {
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 26%;
    margin-left: 22%;
    gap:2%;
}

.chatTmp {
    width: 32%;
    height: 100%;
    border-radius: 12px;
    background: #fff;
}