.lose {
  color: #ff9416;

  font-family: "Noto Sans", sans-serif;
  font-size: clamp(18px, 1.25vw, 200px);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  bottom: 17.39%;
  left: 55%;
}

.losevalue {
  color: #ff9416;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(18px, 1.25vw, 200px);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  bottom: 17.39%;
  left: 76.47%;
}

.winvalue {
  color: #285ada;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(18px, 1.25vw, 200px);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  bottom: 17.39%;
  left: 30.88%;
}

.win {
  color: #285ada;

  font-family: "Noto Sans", sans-serif;
  font-size: clamp(18px, 1.25vw, 200px);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  bottom: 17.39%;
  left: 11.47%;
}

.rankvalue {
  color: #353535;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(18px, 1.25vw, 200px);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  top: 42.61%;
  left: 57.94%;
}

.rank {
  color: #353535;

  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(18px, 1.25vw, 200px);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  top: 42.61%;
  left: 34.12%;
}

.crown {
  z-index: 2;
  position: absolute;
  margin: auto;
  width: 17.65%;
  height: 17.39%;
  top: 17.39%;
}

.rankpage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  height: 45.1%;
  position: absolute;
  bottom: 0%;
  background-color: #fff;
}
.edit {
  position: absolute;
  width: 8.24%;
  height: 5.49%;
  bottom: 66.67%;
  left: 59.41%;
  /* flex-shrink: 0; */
}

.photo {
  width: 35.29%;
  height: 23.53%;
  flex-shrink: 0;
  /* aspect-ratio: 1 / 1; */
  border-radius: 50%;
  /* background-color: burlywood; */
  /* border: 1px solid #fff; */
  position: relative;
  margin: 0 auto;
  top: 9.8%;
}

.profilename {
  color: #fff;

  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 2.963vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;

  top: 41.18%;
  left: 50%;
  transform: translate(-50%, 0);
}

.profilebackground {
  position: absolute;
  top: 9%;
  width: 100%;
  height: 91.23%;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 22.4%;
  top: 17.5%;
  width: 17.7083vw;
  height: 51.7593vh;
  font-size: clamp(18px, 1.25vw, 200px);
}

.profiletitle {
  position: absolute;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(18px, 1.25vw, 200px);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}
