.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    gap: 30px;
}

.title {
    color: #fff;
    font-family: "Anton", sans-serif;
    font-size: 100px;
    margin-bottom: 50px;
}
